* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxd;
}

body {
  background: linear-gradient(#080808, #080808);
}

.header {
  position: fixed;
  top: 25px;
  right: 0;
  left: 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 10px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.192);
  transition: 0.4s;
  animation: entrada 0.8s ease;
}

@keyframes entrada {
  to {
    opacity: 1;
    transform: scale(1);
  }

  from {
    opacity: 0;
    transform: scale(1.06);
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header-logo a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

#logo {
  border-radius: 10px;
  width: 60px;
  margin-left: 25px;
}

#header-titulo {
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

#header-list {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 25px;
}

.header-item {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  transition: 0.35s;
}

li.header-contato {
  padding: 15px 25px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  color: white;
}

li.header-contato:hover {
  background-color: rgb(43, 43, 43);
  color: white;
  transform: scale(1.02);
}

.header-item:hover {
  cursor: pointer;
}

/* Conteúdo - Main */

.content-main {
  background: linear-gradient(rgb(8, 8, 8), rgb(10, 10, 10));
  height: 100vh;
}

.main {
  margin-top: 120px;
}

#content-inicio {
  display: flex;
  align-items: end;
  height: 400px;
  margin: 250px auto;
  width: 80%;
  padding: 25px;
  color: white;
  gap: 150px;
}

#inicio-paragrafo {
  font-weight: bolder;
  font-size: 2rem;
  animation: entradaInicio 0.6s ease-in;
}

#inicio-titulo {
  font-weight: bolder;
  font-size: 4.5rem;
  animation: entradaInicio 0.7s ease;
}

#frase-curta {
  font-weight: 200;
  font-size: 1.1rem;
}

#inicio-paragrafo,
#inicio-titulo,
#frase-curta {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.content-count {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
}

.count {
  padding: 20px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.322);
  border-radius: 25px;
  margin-top: 50px;
  animation: entradaInicio 1s ease;
  transition: 0.45s;
}

.count:hover {
  transform: scale(1.03);
  box-shadow: none;
  background-color: rgb(36, 36, 36);
  box-shadow: 1px 1px 15px rgba(31, 31, 31, 0.651);
}

.count:hover .quantidade,
.count:hover .projetos-completos,
.count:hover .span-projeto {
  color: white;
}

.span-projeto {
  font-weight: 300;
  position: relative;
  bottom: 15px;
  font-size: 2rem;
}

.quantidade {
  font-weight: 300;
  font-size: 5rem;
}

.projetos-completos {
  font-weight: 300;
  margin-left: 25px;
  font-size: 1.5rem;
}

.span-projeto,
.quantidade,
.projetos-completos {
  color: black;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  animation: entradaInicio 1s ease;
}

@keyframes entradaInicio {
  to {
    opacity: 1;
    transform: translateY(0);
  }

  from {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.content-minhaFoto img {
  box-shadow: 1px 1px 15px rgba(128, 128, 128, 0.205);
  border-radius: 25px;
  width: 400px;
  transition: 0.5s;
  animation: entradaInicio 1s ease;
}

.content-minhaFoto img:hover {
  transform: translateY(-8px);
}
