* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxd;
}

.header {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
  padding: 18px;
  background-color: white;
  border-radius: 18px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.192);
}

.header-logo a {
  font-size: 25px;
  text-decoration: none;
  color: black;
}

#header-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-item {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  transition: 0.35s;
}

li.header-contato {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid black;
}

li.header-contato:hover {
  background-color: black;
  color: white;
}

.header-item:hover {
  cursor: pointer;
}
